.form-container {
  margin: 30px;
  display: flex;
}

mat-form-field {
  margin: 16px;
  width: 40%;
}

.top-inputs {
  mat-form-field {
    margin-left: 15px;
    width: 15%;
  }
}

.address-input-container {
  mat-form-field {
    margin-left: 15px;
    width: 20%;
  }

  .state-selector, .zip-input {
    width: 10%;
  }
}
