.form-container {
  margin: 20px;
  padding: 30px;
  display: flex;
  border: 1px solid #707070;
  border-radius: 6px;
}

mat-form-field {
  margin: 16px;
  width: 40%;
}

.top-inputs {
  mat-form-field {
    margin-left: 15px;
    width: 15%;
  }
}

.address-input-container {
  mat-form-field {
    margin-left: 15px;
    width: 20%;
  }

  .state-selector, .zip-input {
    width: 10%;
  }
}

.submit-btn {
  margin: 10px;
  background-color: #707070;
}
