<div>
  <app-patient-form *ngIf="showPatientForm"></app-patient-form>

  <div class="button-container">
    <button
      *ngIf="!showPatientForm"
      class="open-form-button"
      mat-flat-button
      (click)="openPatientForm()"
    >
      <mat-icon aria-hidden="true">add</mat-icon>
      Add new patient
    </button>

    <button
      *ngIf="showPatientForm"
      class="open-form-button"
      mat-stroked-button
      (click)="closePatientForm()"
    >
      Close
    </button>
  </div>
</div>
