// Form open/close button
.button-container {
  display: flex;
  justify-content: center;
}

.open-form-button {
  width: 300px;
  margin: 20px;
}

.close-form-button {
  width: 300px;
}

// Patient data table
.patient-dashboard-data {
  display: flex;
  justify-content: flex-start;
}

.patient-table {
  width: 60%;
  margin: 10px 40px;
  overflow: auto;
  max-height: 675px;

  .element-row {
    cursor: pointer;
  }

  .element-row:hover {
    background-color: #f5f5f5;
  }
}

.search {
  margin: 10px 40px;

  mat-form-field {
    width: 30%;
  }
}

// Patient details card
.patient-details {
  margin: 10px;
  width: 30%;
  max-width: 400px;

  mat-card {
    border-radius: 8px;
  }

  mat-card-content {
    background-color: rgba(144, 144, 144, 0.1);
  }

  .icon-size {
    font-size: 40px;
    height: 40px;
    width: 40px;
    color: #707070;
    opacity: 0.5;
  }

  .details-content {
    padding: 15px 10px;

    h5 {
      margin-bottom: 5px;
      font-size: 12px;
    }

    p {
      margin: 0 0 0 10px;
    }
  }
}
